header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
  }

  header h1 {
    font-size: 2.8rem;
    color: #6b3e26;
    margin-bottom: 0.5rem;
  }

  header p {
    font-style: italic;
    color: #9c5c3c;
    font-size: 1.1rem;
  }
  nav {
    background-color: #64b6ac;
    overflow: hidden;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* This centers the items */
  }

  nav ul li {
    padding: 1%;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
  }

  nav ul li a:hover {
    background-color: #575757;
  }